@orange: #ff9000;
@black: #000000;
@white: #ffffff;
@gray: #e9e9e9;
@blue-dark: #3e5373;
@blue: #4e6890;
@blue-light: #92c8e4;
@yellow-light: #fff36d;
@yellow-dark: #f9e82e;
@gray-light: #f5f5f7;

@font-face {
  font-family: 'Tinos';
  font-weight: normal;
  src: url(/fonts/tinos/Tinos-Regular.ttf);
}
@font-face {
  font-family: 'Tinos';
  font-weight: bold;
  src: url(/fonts/tinos/Tinos-Bold.ttf);
}
@font-face {
  font-family: 'Tinos';
  font-weight: bold;
  font-style: italic;
  src: url(/fonts/tinos/Tinos-BoldItalic.ttf);
}
@font-face {
  font-family: 'Tinos';
  font-style: italic;
  src: url(/fonts/tinos/Tinos-Italic.ttf);
}

html,body {  height: 100%;}
.wappers{min-height: 100%; padding-bottom: 209px; }
footer{min-height: 209px; margin-top: -209px;}

html, body{font:normal normal 16px 'Tinos', Open Sans, Helvetica, sans-serif; color: @blue-dark}
.left{float: left;}
.right{float: right;}
a:focus, div:focus{outline: none;}
img{max-width: 100%;}

.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1-5 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}

header{
  .head{
    min-height: 130px;
    background: #32435d url("/images/bg/header.png") no-repeat center;
    background-size: contain;
    color: @white;
    .txt-block{
      margin-top: 25px;
    }
    .tel{color: @white}
    .btn-main{margin-bottom: -60px;}
  }
  #mainLogo{
    height: 79px;
    width: 441px;
    display: block;
    margin: 25px 0;
    position: relative;
    .title{
      position: absolute;
      bottom: 0;
      color: @white;
      left: 105px;
      font-size: 22px;
    }
  }
  #menu {
    background: @blue-dark;
    .nav{
      display: table;
      position: relative;
      width: 80%;
      li{display: table-cell; text-align: center; vertical-align: middle; float: none;}
      a {
        padding: 15px;
        color: @white;
        &:hover{
          background: @blue;
        }
      }
      li.active a, li>a:focus, li>a:hover {background: @blue;}
    }
    .navbar{margin: 0;}
    .navbar-toggle {border-color: @white;}
    .navbar-toggle .icon-bar  {background-color: @white}
  }
}

.btn-main, a.btn-main{
  background: @yellow-dark;
  background: linear-gradient(to top, @yellow-dark, @yellow-light);
  color: @blue-dark;
  font-size: 20px;
  padding: 15px 30px;
}
.btn-main:active, a.btn-main:active{
  background: @yellow-dark;
  background: linear-gradient(to top, @yellow-dark, @white);
}

.container-80{
  width: 80%;
  margin: 0 10%;
}
#page-block-menu{
  background: @gray-light;
  a:hover{text-decoration: none;}
  ul {
    width: 100%;
    position: relative;
    margin: 0; padding: 0;
    li {
      width: 16.3%;
      display: inline-block;
      text-align: center;
      padding: 0; margin: 0;
      position: relative;
      &:hover{background: @white;}
      a{color: @blue-light;}
      .img{
        display: block;
        height: 110px;
        opacity: 0.5;
        img{margin: auto; max-width: 80%;  max-height: 80%; margin-top: 20px;}
      }
      .txt{
        height: 40px;
        display: block;
        font-size: 18px;
      }
      &.active{
        background: @white;
        a{color: @blue-dark;}
        .img{opacity: 1;}
      }

    }
  }
}

#items{
  color: @blue-dark;
  .item{
    margin: 30px auto;
  }
  .description{
    p{margin-bottom: 0}
  }
  .name{
    color: @blue-dark;
    font-size: 28px;
    text-decoration: underline;
    margin-bottom: 20px;
  }
  p.price{
    margin: 15px 0;
    span{font-size: 28px; }
  }
  img{max-width: 100%;}
  //.btn-main{width: 100%}
}

.text-block{
  background: @gray-light;
  padding: 50px 0;
  color: @blue-dark;
}

footer{
  color: @blue-dark;
  line-height: 14px;
  a{color: @blue-dark}
  #footerMap{
    background: @gray-light no-repeat center;
    background-size: cover;
    position: relative;
    height: 420px;
    width: 100%;
  }
  #footerLogo{
    width: 240px;
    height: 41px;
    display: block;
    background: url("/images/logo-sm.png") no-repeat;
    margin: 20px auto;
  }
}
@media(max-width: 500px){
  footer #footerMap{background-image: url("/images/map/map_500_2.jpg"); }
}
@media(min-width: 500px) and (max-width:1000px){
  footer #footerMap{background-image: url("/images/map/map_1000.jpg");}
}
@media(min-width: 1000px){
  footer #footerMap{background-image: url("/images/map/map_3000.jpg");}
}

#content-news{
  .news-item{
    margin-top: 50px;
    .img{
      height: 250px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    h3{
      height: 80px;
      overflow: hidden;
      text-decoration: underline;
      color: @blue-dark;
      margin-top: 10px;
    }
    p.date{margin: 20px 0 10px;}
    //.preview{
    //  height: 220px;
    //  overflow: hidden;
    //}
  }
}

#contacts{}

.contact-form{
  background: #ebedf1;
  padding: 10px 20px 50px;
  p{display: none;}
}

.contact-form-2{
  input, textarea{
    border:none;
    //border: 1px solid @blue-dark;
    border-radius: 0;
    max-width: 100%;
    //background: @gray-light;
  }
  input:focus, textarea:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(179, 179, 179, 0.6);
    border-color: #ccc;
    //border: 1px solid @blue-light;
    //background: @white;
  }

  //input::-webkit-input-placeholder {color: @blue !important;}
  //input:-moz-placeholder {color: @blue !important; } /* Firefox 18- */
  //input::-moz-placeholder {color: @blue !important; }  /* Firefox 19+ */
  //input:-ms-input-placeholder {color: @blue !important; }
  //
  //textarea::-webkit-input-placeholder {color: @blue !important;}
  //textarea:-moz-placeholder {color: @blue !important; } /* Firefox 18- */
  //textarea::-moz-placeholder {color: @blue !important; }  /* Firefox 19+ */
  //textarea:-ms-input-placeholder {color: @blue !important; }
}


@media(min-width: 3000px){
  .container-80{
    width: 2000px;
    margin: auto;
  }
}
@media(max-width: 1340px){
  header #menu .nav {width: 70%;}
}
@media(max-width: 1140px){
  header #mainLogo .title{font-size: 20px;}
}

@media(min-width: 768px) and (max-width: 992px){
  header .head {
    background-size: cover;
    .btn-main { margin-bottom: 0px; float: right;}
    .address{float: left; text-align: center}
  }
}

@media (max-width: 768px) {
  header .head {
    background-size: cover;
    text-align: center;
    .btn-main { margin-bottom: 0px; float: none;}
    .address{float: none; text-align: center}

  }
  header #menu .nav li {  display: block; text-align: left; }
  #page-block-menu ul li {width: 32%;}
}

@media (max-width: 490px) {
  header .head #mainLogo{
    width: 100%;
    img{max-width: 100%}
    .title {left: 10%;}
  }
}

//main page style
.main-slides{
  background:  no-repeat center;
  background-size: cover;
  min-height: 300px;
  .title{
    color: @white;
    font-size: 40px;
    padding: 70px 0 30px 7%;
  }
  a{
    color: @white;
    font-size: 20px;
    text-decoration: underline;
    padding-left: 7%;
  }
  @media (min-width:768px) {
    &#slide1{background-image: url("/images/bg/slide1-2000.jpg")}
    &#slide2{background-image: url("/images/bg/slide2-1500.jpg")}
    &#slide3{background-image: url("/images/bg/slide3-1500.jpg")}
  }
  @media (max-width:768px) {
    &#slide1{background-image: url("/images/bg/slide1-1000.jpg")}
    &#slide2{background-image: url("/images/bg/slide2-700.jpg")}
    &#slide3{background-image: url("/images/bg/slide3-700.jpg")}
  }
  &#slide1{min-height: 510px;}
  &#slide2{
    min-height: 510px;
    text-align: right;
    background-position: right top;
    .title{padding-top: 170px;}
  }
}

#landing-page{
  font-size: 18px;
  h2{
    font-size: 50px;
    text-align: center;
    color: @blue-dark;
  }
  #rent{
    padding: 10px 0 50px;
    .items{padding: 20px 0;}
    .cat-item {
      text-decoration: none;
      .img {
        width: 200px;
        height: 200px;
        background: @gray-light;
        border-radius: 50%;
        opacity: 0.5;
        display: flex;
        img {
          max-width: 80%;
          margin: auto;
        }
      }
      p {
         color: @blue-light;
         font-size: 22px;
         text-align: center;
      }
      &:hover{
        p{color: @blue-dark;}
      }
    }
  #items img{
    height: 200px;
  }

  }
  #additionally{
    padding: 10px 0 50px;
    .img-block{
      padding: 20px 0;
      img{max-width: 100%; margin-bottom: 10px}
      p{font-size: 22px;}
    }
    @media (max-width: 840px) {
      .img-block p{font-size: 16px;}
    }
  }

  #gallery{
    background: @gray-light;
    padding: 50px 0;
    .item > a{
      height: 100px;
      display: block;
      margin-bottom: 10px;
    }
    @media (min-width: 1200px) {
      .item > a{height: 200px;}
    }
    a.link{text-decoration: underline; color: @blue-dark;}
  }

  #description{
    padding: 50px 0;
    .text-italic{
      font-style: italic;
      margin-top: 20px;
    }

  }

}

#item-content{
  padding: 30px 0;
  .slick-slider {margin-bottom: 0;}
  #slick-main{
    width: 100%;
  }
  #slick-nav{
    width: 100%;
    height: 140px;
    .image{
      height: 140px;
      background: no-repeat center;
      background-size: cover;
      border: 1px solid #fff;
    }
  }
  img{max-width: 100%;}
  .price{font-size: 36px;}
  .guests{margin-top: -10px;}
}

.slick-arrow{
  background: url("/images/ico/arrow.png") no-repeat;
  width: 20px;
  height: 35px;
  &:hover{background: url("/images/ico/arrow.png") no-repeat;}
  &.slick-prev{transform: scale(-1, 1); margin-top: -17px;}
  &:before{content: '';}
}

#reviewForm{
  .modal-body{
    background: @gray-light;
    padding-bottom: 35px;
    border-radius: 0 0 15px 15px;
  }
  .modal-header{ border-bottom: none;}
  .phone, .modal-title{ font-size: 24px; color: @blue-dark}

}

.call-ico{font-size: 30px; vertical-align: middle;}